@import '~antd/dist/antd.css';

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.header {
    background-image: url("logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #f3f3f3;
    height: 300px;
}

.news-list {
    max-width: 800px;
    margin: 0 auto;
}

.news-list__search {
    max-width: 600px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.news-list__item {
    text-align: left;
    margin-bottom: 10px;
}

.article-body {
    max-width: 800px;
    margin: 50px auto 0;
}
.article-body h2 {
    margin-top: 30px;
}

.source-list {
   padding: 30px;
    max-width: 800px;
    margin: 0 auto;
}

.source-list__item {
    text-align: left;
    margin-bottom: 30px;
}

.source-list__item pre {
    padding: 0;
    margin: 0;
}

.source-list__item .ant-card-body {
    padding: 0;
}

.source-list__item .hljs {
    padding: 15px;
}

.source-control {
    text-align: left;
    margin-bottom: 30px;
}
